
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

body.light-mode {
    background-color: white;
    color: black;
}

#logo {
    width: 20%;
    max-width: 200px;
    padding-top: 20px;
}

h1 {
    font-family: "Roboto Mono", serif;
    text-align: center;
    font-size: 2rem;
}

#name {
    color: rgb(76, 189, 255);
    font-size: 1.5rem;
}

.search-container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    padding: 0 20px;
    transition: transform 0.3s ease;
    flex-wrap: wrap;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid #d1d1d1;
    background-color: #f9f9f9;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s, background-color 0.3s ease, transform 0.3s;
    font-family: 'Arial', sans-serif;
}

.search-bar:focus {
    outline: none;
    border-color: #5e60ce;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(94, 96, 206, 0.4);
    transform: scale(1.05);
}

.search-bar::placeholder {
    color: #bbb;
    opacity: 1;
}

.btnlist {
    display: flex;
    flex-direction: column;
    gap: 35px; 
    align-items: center;
    width: 100%;
    max-width: 800px;
}

fieldset {
    border: none;
    width: 100%;
    text-align: center;
}

legend {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: bold;
}

.btnlist button {
    width: 100%;
    max-width: 500px;
    padding: 12px 25px;
    font-size: 1rem;
    color: white;
    background: linear-gradient(to right, #5e60ce, #ff6f61);
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    opacity: 0;
    animation: buttonAppear 0.5s forwards;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px; 
}


.btnlist button:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, #ff6f61, #5e60ce);
}

@keyframes buttonAppear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#toggleMode {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 5px;
    transition: transform 0.2s ease;
}

#toggleMode img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease;
}

#toggleMode:hover img {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .search-container {
        flex-wrap: wrap;
    }
    .btnlist {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .search-container {
        flex-wrap: wrap;
    }
    .btnlist {
        width: 100%;
    }
}
